/.idea
/.venv
/apprendre.py
/bim.py
/england-master
/exo.py
/Gestion_de_comptabilite_scolaire.py
/IA.py
/Lecon_Dictionnaires_Python.txt
/Lecon_Fichiers_Python.py
/Lecon_Gestion_Exceptions_Python.py
/Lecon_Mathematiques_IA_Python.py
/Lecon_Mathematiques_Python.py
/Lecon_Mathematiques_Python.txt
/Lecon_Pandas_Complete.txt
/myenv
/nba_stats_cleaned.csv
/red.py
/test.txt
/__pycache__